@media (max-width: 767px){
    main{
    width: 90%;
    margin: 1rem;
    }
    .row .mbl{
        display: inline !important;
    }
    .row .dsktp{
        display: none;
    }
    main .image{
        height: fit-content;
    }
    main .detail{
        height: 75%;   
    }
    .image, 
    .image img{
        border-radius: 1rem 1rem 0 0;
    }
    .detail{
        border-radius: 0 0 1rem 1rem;
    }
    .detail .title{
        font-size: 2.5rem;
    }
    .detail del{
        margin-left: 3rem;
    }
}
@media (max-width: 441px){
    main{
        width: 100%;
    }
    * .text{
        font-size: 14px;
    }
    .detail del{
        margin-left: 1rem;
    }
    .detail .title{
        font-size: 2.2rem;
    }
    .detail .price{
        font-size: 2.2rem;
    }
}
