@media (max-width: 767px){
    main{
    width: 90%;
    }
    .row .mbl{
        display: inline !important;
    }
    .row .dsktp{
        display: none;
    }
    main .image{
        height: fit-content;
    }
    main .detail{
        height: 75%;   
    }
    .image,
    img,
    .detail{
    border-radius: 0;
    }
    .detail del{
        margin-left: 3rem;
    }
}
@media (max-width: 441px){
    main{
        width: 100%;
    }

    .detail del{
        margin-left: 1rem;
    }
}
